body {
  position: relative;
  margin-top: 60px;
  font-family: 'Mouse Memoirs', sans-serif;
  font-size: 22px;
}
#content {
  position: relative;
}
h1 {
  color: #f20505;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 30px;
  font-weight: bold;
  margin-left: 3px;
}
.navbar-brand {
  font-size: 22px;
}
.dropdown-menu {
  background-color: #f20505;
}
.dropdown-menu > li > a:hover {
  background-color: #f9d70b;
  color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-default .navbar-toggle {
  background-color: #f9d70b;
  color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-nav > li > a {
  font-size: 22px;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f9d70b;
  color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #f9d70b;
  color: #000000;
}
.dropdown-menu > li > a {
  font-size: 20px;
}
.nav-pills {
  background-color: #f20505;
  color: #f9d70b;
  padding: 10px;
  border-radius: 5px;
}
.nav-pills > li > a {
  border-radius: 4px;
  background-color: #f20505;
  color: #ffffff;
}
.nav-pills li > a:hover {
  border-radius: 4px;
  background-color: #f9d70b;
  color: #000000;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #f9d70b;
  color: #000000;
}
.navbar-default .navbar-brand:hover {
  background-color: #f9d70b;
  color: #000000;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #f9d70b;
  background-color: #f20505;
}
ul.nav-pills {
  top: 70px;
  position: fixed;
}
.navbar-default {
  background-color: #f20505;
  border-color: #f9d70b;
  border-bottom-width: 3px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.lastsection {
  margin-bottom: 95%;
}
.navsection {
  padding-top: 50px;
  margin-top: -50px;
}
@media screen and (max-width: 810px) {
  #section1,
  #section2,
  #section3,
  #section41,
  #section42 {
    margin-left: 150px;
  }
}
.greattime {
  color: #f20505;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 50px;
}
footer {
  background-color: #f20505;
  color: #ffffff;
  border-top: 2px solid #f9d70b;
}
